body{
    
    background: #39C3E8;
    
}

.title{
    /* display: flex; */
    position: relative;
    top:-20px;
    color: #222;
    font-family: Pacifico;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sunImage{
    position: absolute;
    top: 20px;
    left:20px;
    width: 180px;
    height: auto;
    flex-shrink: 0;
}

.cloudImage1{
    position: absolute;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    top: 10px;
    z-index: -1;
    left:200px;
}
.cloudImage2{
    position: absolute;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    top: 80px;
    z-index: -1;
    right:200px;
}

/* .gif{ */
    /* position: absolute;
    top:50px;
    right:50px;
    /* size: 10px; */
    /* background-color: green; */
    /* border:1px solid black;
    border-radius: 40px;
    align-items: center;
    justify-content: center; */
     /* */ 
/* } */

.gifImage{
    size: 10px;
    width: 80px;
    position: absolute;
    top:50px;
    right:50px;
    border:1px solid rgb(42, 41, 41);
    border-radius: 40px;
    background-color:#39C3E8 ;
    transition: background-color 0.5s ease;
    

    /* size: 1px; */
}

.gifImage:hover{
    background-color: #36afd1;
    cursor:pointer;
}

.buttonClass{
    display: flex;
    margin-top: -80px;
    justify-content: space-evenly;
    margin-left: auto;
    
}

.yourWeatherbuttonDiv{
    /* width: 100%; */
    z-index: 1;
}

.yourWeatherbutton{
    
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    border-radius: 10px;
    background: #2998B7;
    border: none;
    padding: 5px;
    z-index: 5;
   
}

.yourWeatherbutton:hover {
    cursor: pointer; 
}




#searchWeatherbutton{
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    border-radius: 10px;
    background: #39C3E8;
    border: none;
    padding: 5px;
    z-index: 5;
    /* border: 1px solid black; */
    
}

#searchWeatherbutton:hover{
    cursor: pointer;
    
}




.active{
    opacity:0;
}

.active-button-bg{
    background: #2998B7;
}



.geolocation{
    position: absolute;
    margin-top: -430px;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
    /* opacity: 0; */
}



.locationText{
    color: #222;
    font-family: Pacifico;
    align-items: center;
    text-align: center;
    margin-top: -5%;
}

.geolocationImage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.GrantAcessbutton{
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    border-radius: 10px;
    background: #2998B7;
    border: 2px solid black;
    padding: 5px;
    z-index: 5;
}

.GrantAcessbutton:hover{
    cursor: pointer;
}

.yourWeather{
    margin-top: 2%;
    margin-left: 22%;
    /* opacity: 0;
    width: 100px;
    height: 100px; */
    transform: scale(0.75); /* Shrinks everything inside the div to 75% of its original size */
    transform-origin: top left; /* Ensures the scaling happens from the top left */
    width: fit-content; 
}

.mainTextDiv{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-top: -50px;
}

.mainText{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #222;
    font-family: Pacifico;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

.flag{
    display: flex;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-top: 80px;
    margin-left: 15px;
}

.tempDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -200px;
}

.tempPara{
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

.tempPara2{
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    margin-top: 130px;
}

.attributeCollection{
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.attribute{
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 231px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #2998B7;
    row-gap:-1000px;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.windSpeedLogo{
    display: flex;
    position: relative;
    width: 61px;
    height: 61px;
    /* flex-shrink: 0; */
    margin-top:60px;
    
}

.windSpeed{
    display: flex;
    position: relative;
    color: #222;
    font-family: Pacifico;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: -10px;
    
    
}
.windSpeedValue{
    display: flex;
    position: relative;
    color: #FFF;
    font-family: Pacifico;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: -80px;
    
}

.loadingGif{
    position: absolute;
    margin-top: -35%;
    margin-left: 35%;
   
}

.searchWeatherPage{
    position: absolute;
    margin-top: -30%;
    margin-left: 30%;
    height: 5%;
    width: 30%;

    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */

}

.searchWeatherTab{
    z-index: 5;
    display: flex;
    flex-direction:row;
}

#inputCity{
    width: 350px;
    height: auto;
    font-family: Pacifico;
    background-color: #2998B7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    /* margin-top: 10px; */
    display: flex;
}

input::placeholder {
    
    color: #222;  /* You can change this to any color */
    opacity: 0.75; 
    letter-spacing: 1.5px;
    font-size: larger;
  }

#inputCity{
    letter-spacing:3px;
}

.searchImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.searchButton{
    background-color: #39C3E8  ;
    border: none;
    display: flex;
}

.searchButton:hover{
    cursor: pointer;
}


/* search weather */


.searchWeather{
    margin-top: 7%;
    margin-left: -100%;
    /* opacity: 0;
    width: 100px;
    height: 100px; */
    transform: scale(0.75); /* Shrinks everything inside the div to 75% of its original size */
    transform-origin: top left; /* Ensures the scaling happens from the top left */
    width: fit-content; 
}



.mainTextM{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #222;
    font-family: Pacifico;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}

.tempParaM{
    display: flex;
    color: #222;
    font-family: Pacifico;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
}
